div {
    width: 800px;
    margin: 50px auto;
    border: 4px solid red;
    border-radius: 50px;
    text-align: center;
    background-color: aliceblue;
}

h2 {
    margin-top: 40px;
}

p {
    margin: 40px;
}

img {
    display: block;
    margin: 0 auto;
}

input {
    display: block;
    margin: 30px auto;
    height: 50px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(217, 216, 216, 0.415)
    
}

#text {
    display: block;
    height: 30px;
    border: 4px solid red;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgba(217, 216, 216, 0.415)
}

button {
    display: block;
    margin: 0 auto 30px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(217, 216, 216, 0.415)
}